# ignore all by default
**/*

# gitignore rules
!.gitignore

# shell config
!.bennordrc

# mac hotkey config
!/.config/
!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/**/*
