# ignore all by default
**/*

# gitignore rules
!.gitignore
!.gitignore_global

# shell config
!.bennordrc*

# setup notes
!ubuntu_setup.md

# mac hotkey config
!/.config/
!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/**/*
